<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Conversion Price</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
    <ion-row justify-content-center margin-bottom>
        <ion-img src="assets/imgs/convert.png" style="height: 250px"></ion-img>
      </ion-row>
  

    <ion-row justify-content-center>
<ion-col>
            <ion-item>
            <ion-select [(ngModel)]="from" (ionChange)="getConvertPrice()" >
              <ion-select-option value="BTC">BTC</ion-select-option>
              <ion-select-option value="ETH">ETH</ion-select-option>
              <ion-select-option value="LTC">LTC</ion-select-option>
              <ion-select-option value="XRP">XRP</ion-select-option>
           
            </ion-select>
          </ion-item>
        </ion-col>
  
            <ion-col size="3">
                  <ion-label>Enter price</ion-label>
                <ion-input type=number [(ngModel)]="amount" value="1" ></ion-input>
              </ion-col>
   
     <ion-col>
            <ion-item>
            <ion-select [(ngModel)]="To" (ionChange)="getConvertPrice()">
              <ion-select-option value="USD">USD</ion-select-option>
              <ion-select-option value="EUR">EUR</ion-select-option>
              <ion-select-option value="TND">TND</ion-select-option>
           
            </ion-select>
         
          </ion-item>
        </ion-col>

<ion-col>
   <div *ngIf="currency$ | async as cur " class="ion-text-center">
    <ion-input>    {{cur.ask*amount}}  </ion-input>
       
   
   </div>
    
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
