<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Litecoin Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center margin-bottom>
      <ion-img src="assets/imgs/litecoin.jpg" style="height: 250px"></ion-img>
    </ion-row>
    <ion-row justify-content-center>
      <div *ngIf="litecoin$ | async as bc; else loading" class="ion-text-center">
        <h1> LTC: {{bc.ask | currency: fiat + " "}} </h1>
        <p> The average price last week was : {{bc.averages.week | currency : fiat +" "}} </p>
        <p> The average price last day was : {{bc.averages.day | currency : fiat +" "}} </p>
        <p> The average price last month was : {{bc.averages.month | currency : fiat +" "}} </p>

      </div>
      <ng-template #loading>
        <h1> Loading...</h1>
      </ng-template >
    </ion-row>
    <ion-row justify-content-center>
      <ion-button shape="round" fill="outline" (click)="getLitecoinPrice()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>

  
</ion-content>

<ion-footer>
  <ion-item>
    <ion-label>Select Fiat Currency</ion-label>
    <ion-select [(ngModel)]="fiat" (ionChange)="getLitecoinPrice()">
      <ion-select-option value="USD">USD</ion-select-option>
      <ion-select-option value="EUR">EUR</ion-select-option>
      <ion-select-option value="TND">TND</ion-select-option>
    </ion-select>
  </ion-item>
</ion-footer>